@media all and (min-width: 1024px) {
    .content {
        background-color: var(--white);
        border-radius: 7px 7px 0 0;
    }
}
@media all and (min-width: 1540px) {
    .content {
        width: 1400px;
    }
}