.menu {
    position: absolute;
    top: 17px;
    right: 15px;
}

.menuButton {
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    border-radius: 31px;
    background: transparent;
    border: 0;
}

.menuButton:active, .menuButton:hover {
    background-color: rgba(51, 51, 51, 0.1);
}
.menuItem {
    color: var(--gray99);
    padding: 9px 0;

}
.dropdown {
    position: absolute;
    right: 0;
    top: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,.15);
    border-radius: 3px;
    background-color: var(--white);
}
.closeButton {
    background-color: var(--grayD9);
    padding: 12px 33px;
    border-radius: 0 0 3px 3px;
    width: 100%;
}
@media all and (min-width: 1024px) {
    .menuButton {
        align-self: center;
        transform: unset;
    }
    .menu {
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
    }

    .dropdown {
        top: 20px;
        right: 50%;
        transform: translateX(50%);
    }
}

@media all and (min-width: 1540px) {
    .menuButton:hover{
        background-color: rgba(51, 51, 51, 0.1);
    }
    .menu {
        right: 150px;
    }
    .closeButton {
        display: none;
    }
}