.card {
    background-color: var(--white);
    border-radius: 7px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}
.card > *, .textContent > * {
    flex: 1 1 100%;
}
.textContent {
    display: flex;
    flex-flow: row wrap;
    padding: 22px 20px 13px;
}

.controls {
    padding: 10px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.commentButton {
    display: flex;
    align-items: normal;
}
.commentsNumber {
    padding: 0 0 0 6px;
    font-size: 12px;
    line-height: 14px;
}


.menu {
    position: absolute;
    top: 17px;
    right: 15px;
}
@media all and (min-width: 1024px) {
    .controls {
        order: 3;
        flex: 0 0;
        padding: 0;
    }
    .card {
        flex-flow: row;
        height: 107px;
        align-items: center;
     }
    .textContent {
        order: 2;
        flex: 6 1;
    }
}

@media all and (min-width: 1540px) {
    .card {
        padding: 0 60px;
    }
    .textContent {
        flex-basis: 672px;
    }
}